body {
  margin: 0;
  background: #acc;
  overflow-x: hidden;
}
#cubes-container {
  position: relative;
  height: 900px;
  width: 630px;
  margin: 0 auto;
}
canvas:nth-of-type(1) {
  position: absolute;
  top: 0px;
  left: -290px;
}
canvas:nth-of-type(2) {
  position: absolute;
  top: 0px;
  left: 0px;
  top: -123px;
  left: -78px;
}
canvas.active {
  z-index: 1;
}
#controls {
  position: relative;
  min-width: max-content;
  text-align: center;
  z-index: 2;
  display: flex;
  justify-content: center;
}
#controls > * {
  margin: 0 40px;
}
#controls button {
  margin: 2px;
  font-size: 60px;
  font-family: monospace;
  width: 1.2em;
  height: 1.2em;
}
#controls button.spacer {
  visibility: hidden;
}
